{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <form method="POST">
                FORM
                <button>Logo envoie</button>
            </form>
            
            {% if is_auth %}
                <div>
                    <p><a href="{% url 'userBoard' id=user.id%}" id="user">Bonjour {{username}}</a></p>
                </div>

            {% else %}
                <div>
                    <button> <a href="{% url 'connexion'%}" id="connect">Connexion</a></button>
                </div>
            {% endif %}
        </nav>
        
        <div id="main">
            <h1>Video Game Blog</h1>
        </div>

    </header>
    <section id="main">
        {% block section %}
        {% endblock %}
    </section>
    <footer>
        Logo Réseaux sociaux
        Copyright mention légales
    </footer>
</body>
</html>