{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
    VidéoGameBlog
{% endblock %}

{% block section %}
    <div id="lastPostContent">
        <div class="mainContent">
            <div class="caroussel">
                {% for j in top %}
                <span class="img_span">
                    {% if j.mainImage == 'Null' %}
                    <img src="/media/default.jpg" alt="Default">
                    {% else %}
                    <img src="{{ j.mainImage.url }}" alt="{{j.title}}">
                    {% endif %}
                </span>
                <div id="carousselContent">
                    <a href="{% url 'post' id=j.id %}">
                        <h3>{{j.title|truncatewords:15}}</h3>
                    </a>
                    <p>{{j.content|truncatewords:20}}</p>
                    <span><b>{{j.author}} le {{j.date|date:"d M y"}} - {{j.date|time:"H:i"}}</b></span>
                    {% endfor %}
                </div>
            </div>
            <div class="card_list">
            {% for i in posts %}
                <div class="post_card">
                    <span class="img_span">
                    {% if i.mainImage == 'Null' %}
                    <img src="/media/default.jpg" alt="Default">
                    {% else %}
                    <img src="{{ i.mainImage.url }}" alt="{{i.title}}">
                    {% endif %}
                    </span>
                    <div class="content">
                        <a href="{% url 'post' id=i.id %}">
                            <h4>{{i.title|truncatewords:10}}</h4>
                        </a>
                        <span><b>{{i.author}} le {{i.date|date:"d M y"}} - {{i.date|time:"H:i"}}</b></span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    


{% endblock %}